.card {
  padding: 10px !important;
}

aside {
  background: #fff;
  width: 100px;
  max-height: 70vh;
  padding: 10px 8px;

  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.search-result {
  padding: 0 10px;
}

.no-data {
  height: 70vh;
  background: #fff;
}
