<div class="card box" (click)="applySearch(data)">
    <div>
        <fa-icon [icon]="['fas','map-marker']" [styles]="iconStyles"></fa-icon>
        <span><strong>{{data.location.city}}</strong></span>
    </div>
    <div>
        <fa-icon [icon]="['far','calendar']" [styles]="iconStyles"></fa-icon>
        <span>
            {{data.checkInDate | ngbDateFormatter}}
            -
            {{data.checkOutDate | ngbDateFormatter}}
        </span>
    </div>
    <div>
        <fa-icon [icon]="['fas','users']" [styles]="iconStyles"></fa-icon>
        <span>{{data.guestCount}} Guests</span>
    </div>
    <button class="btn-remove btn btn-sm btn-light btn-link"
        (click)="removeHistory(data)"> <strong>x</strong>
        <!-- <fa-icon [icon]="['fas','']" [styles]="iconStyles"></fa-icon> -->
    </button>
</div>
