.card {
  padding: 8px;
  box-shadow: 2px 2px 2px rgb(207, 206, 206);
  border-radius: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 14px;

  div {
    padding: 2px;
    strong {
      font-weight: 500;
      color: rgb(92, 91, 91);
    }
    span {
      padding-left: 8px;
    }
  }
}

.color-gray {
  color: gray !important;
  stroke: gray !important;
}
