form.expanded {
  display: flex !important;
}

form.collapsed {
  display: none !important;
}

label.active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

input.ng-dirty.ng-invalid,
input.invalid {
  border: dotted 1px red;
}

.date-error {
  color: rgb(250, 87, 87);
}

.search-summary {
  border-bottom: solid 1px #e1e1e1;
  padding: 0 0 5px 0;
  background: #f8f8f8;
  .summary {
    span {
      padding: 0 7px;
    }

    strong {
      padding-left: 3px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .search-summary {
    .summary {
      span {
        padding: 0 7px;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
  .search-summary {
    .summary {
      span {
        padding: 0 7px;
        font-size: 14px;
      }
    }
  }
}
