<div class="search-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="card">
        <app-search-form></app-search-form>
    </div>

    <div class="card recent-searches" *ngIf="recentSearches.length> 0">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h6>Get back to an earlier search</h6>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center">
            <div *ngFor="let search of recentSearches">
                <app-recent-search-box [data]="search"></app-recent-search-box>
            </div>
        </div>
    </div>
</div>
